// * {
//   box-sizing: border-box;
// }

html, body {
  overflow-x: hidden;
}

body {
  background-color: $base-background-color;
  margin: 0;
  color: $base-fonts-color;
  font-size: 16px;
  font-family: $font-txt;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: $font-title;
  margin: 0;
}