// здесь подключаем все шрифты

// это lato 400
@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../assets/fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'),
        url('../assets/fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
        url('../assets/fonts/Lato-Regular/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

// это lato 500 
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'),
        url('../assets/fonts/Lato-Medium/Lato-Medium.woff2') format('woff2'),
        url('../assets/fonts/Lato-Medium/Lato-Medium.woff') format('woff'),
        url('../assets/fonts/Lato-Medium/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

//   это lato 600
@font-face {
    font-family: 'Lato';
    src: local('Lato Semi Bold'), local('Lato-Semi-Bold'),
        url('../assets/fonts/Lato-Semibold/Lato-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Lato-Semibold/Lato-Semibold.woff') format('woff'),
        url('../assets/fonts/Lato-Semibold/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

//   это lato 700
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../assets/fonts/Lato-Bold/Lato-Bold.woff2') format('woff2'),
        url('../assets/fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
        url('../assets/fonts/Lato-Bold/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

//   это rubik 700
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'), local('Rubik-Bold'),
        url('../assets/fonts/Rubik-Bold/Rubik-Bold.woff2') format('woff2'),
        url('../assets/fonts/Rubik-Bold/Rubik-Bold.woff') format('woff'),
        url('../assets/fonts/Rubik-Bold/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

// это rubik 500
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium'), local('Rubik-Medium'),
        url('../assets/fonts/Rubik-Medium/Rubik-Medium.woff2') format('woff2'),
        url('../assets/fonts/Rubik-Medium/Rubik-Medium.woff') format('woff'),
        url('../assets/fonts/Rubik-Medium/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  // это rubik 400
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik Regular'), local('Rubik-Regular'),
      url('../assets/fonts/rubik.woff2') format('woff2'), 
      url('../assets/fonts/rubik.woff') format('woff'),
      url('../assets/fonts/rubik.ttf') format('truetype');
  }