// пременные например

$base-fonts-color: #1A212F;
$second-font-color: #FAC663;
$font-title: 'Rubik', sans-serif;
$font-txt: 'Lato', sans-serif;
$base-background-color: #FFFEFD;
$second-background-color: #FAC663;

// миксины

@mixin container-title {
    font-family: $font-title;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
}

@mixin text ($f-family, $f-size, $f-style, $f-weight, $f-height) {
    font-family: $f-family;
    font-size: $f-size;
    font-style: $f-style;
    font-weight: $f-weight;
    line-height: $f-height;
}

