.booking {

    &__booking__img-ipad {
        display: none;
    }

    &__booking__img-svg-ipad {
        display: none;
    }

    &__booking__img-desktop {
        display: none;
    }

    &__booking__img-svg-desktop {
        display: none;
    }
}