.booking {

    &__img-ipad {
        display: none;
    }

    &__img-svg-ipad {
        display: none;
    }

    &__img-desktop {
        display: none;
    }

    &__img-svg-desktop {
        display: none;
    }
}
