.burger {
    display: flex; 
    justify-content: center;

    &__link {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        overflow: hidden;
        background-color: #FFFEFD;
        border: none;
    }

    &__btn {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        overflow: hidden;
        background-color: #FFFEFD;
        border: none;
    }

    &__span {
        width: 22px;
        border: 1px solid #1A212F;
    }
}

@media screen and (min-width: 768px){
    .burger {
        display: none;
    }
    
}