.contacts {
    

    &__wrapper {
        padding: 40px 103px 40px 15px;
        min-height: 477px;
        background-color: $second-background-color;
    }

    &__title {
        font-family: $font-title;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        margin-bottom: 40px;
    }

    &__subtitle {
        font-family: $font-title;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 15px;
    }

    &__txt {
        font-size: 15px;
        font-style: normal;
        line-height: 18px;
        margin-bottom: 30px;
    }

    &__txt-br {
        display: none;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-right: 95px;
        padding-left: 0;
    }

    &__map {
        position: relative;
        z-index: 0;
    }

    &__map_google {
        width: 100%;
        height: 320px;

    }

    &__map_cat {
        position: absolute;
        top: 105px;
        left: 132px;
        z-index: 2;
    }

}

@media screen and (min-width: 768px) {
    .contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;


        &__wrapper {
            padding: 60px 65px 65px 40px;
        }

        &__title {
            font-size: 36px;
            line-height: 42.66px;
        }

        &__txt-br {
            display: block;
        }

        &__social {
            justify-content: space-between;
            padding-right: 130px;
        }

        &__map_google {
            width: 100%;
            height: 100%;
        }

        &__map_cat {
            top: 245px;
            left: 174px;
            z-index: 2;
        }
    }
}

@media screen and (min-width: 1366px) {
    .contacts {

        &__wrapper {
            padding: 70px 110px 70px 200px;
        }

        &__subtitle {
            line-height: 19.22px;
        }

        &__txt {
            line-height: 19.22px;
        }

        &__map_google {
            width: 100%;
            height: 100%;
        }

        &__map_cat {
            top: 295px;
            left: 379px;
            z-index: 2;
        }

    }
}