.container {
    width: 290px;
    min-height: 230px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 25px 32px 25px 25px;
    position: relative;
    z-index: 2;
    // нужно ли каждому контейнеру задавать внутри отступы? т,к, на макете у нас контейнеры разного размера

    &:last-child {
      margin-bottom: 0;
    }

    &__svg {
      margin-bottom: 30px;
    }

    &__title {
    @include container-title;
    margin-bottom: 20px;
    }

    &__text {
    font-family: $font-txt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    }
}