.footer {
    // padding: 30px 15px 30px 15px;

    &__wrapper-top {
        padding: 30px 15px;
    }

    &__svg {
        margin-bottom: 25px;
    }

    &__items-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        margin-right: 40px;
    }

    &__items {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        padding: 0;
    }

    &__item {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19.2px;
    }

    &__item:last-child {
        margin-bottom: 0px;
    }

    &__item-link {
        color: $base-fonts-color;
        text-decoration: none;
    }

    &__copyright {
        font-family: $font-txt;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        color: #8F8F8F;
        padding: 15px 15px 30px 15px;
        border-top: 1px solid #EFEFEF;
    }

    &__copyright-span {
        font-family: $font-txt;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        color: #8F8F8F;
        margin-bottom: 20px;
        display: block;
    }

    &__copyright-span:last-child {
        margin-bottom: 0;
    }
}

    @media screen and (min-width: 768px) {
        .footer {

            &__wrapper-top {
                padding: 12px 45px 12px 65px;
                display: flex;
                justify-content: space-between;
            }

            &__copyright {
                padding: 12px 45px 12px 65px;
                display: flex;
                justify-content: space-between;
            }

            &__items-inner {
                flex-direction: row;
                padding-top: 20px;
                margin-right: 0;
            }

            &__item {
                margin-right: 30px;
            }
        }
    }

    @media screen and (min-width: 1366px) {
        .footer {

            &__wrapper-top {
                padding: 12px 200px;
            }

            &__copyright {
                padding: 20px 200px;
            }
        }
    }