.form {

  display: none;
  box-sizing: border-box;
  width: 210px;

  &__price {
    border: 0;
    padding: 0;
    margin: 0;
  }

  &__price-name {
    margin: 0;
    margin-bottom: 20px;
    line-height: 19px;
  }

  &__price-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__price-item {
    width: 92px;
    height: 18px;
    font-size: 14px;
    line-height: 17px;
  }

  &__square {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0;
    font-weight: 500;
    line-height: 19px;
    padding: 0;
    margin: 0 0 35px 0;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__input {
    appearance: none;
    position: absolute;

    &:focus ~ .form__input-control {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }

    &:checked ~ .form__input-control::after {
      opacity: 1;
    }
  }

  &__item {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input-control {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(225, 225, 225, 1);
    margin-right: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 7px;
      background-image: url("/assets/svg/checkin.svg");
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0;
      transform: translate(-50%, -50%);
    }
  }

  &__equipment{
    border: 0px;
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
    padding: 0;
  }

  &__btn {
    width: 185px;
    height: 42px;
    border-radius: 25px;
    background-color: $base-background-color;
    border-color: #FAC663;
    border-width: 2px;
    font-size: 14px;
    font-weight: 600;
    font-family: "lato";
  }
}

@media screen and (min-width: 1366px) {
  .form {
    display: block;
    margin-right: 90px;
  }
}