.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;

    &__nav {
        display: none;
    }

    // &__logo-svg {
    //     width: 46px;
    //     height: 38px;
    // }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 12px 45px;
        // min-height: 76px;

        // &__logo-svg {
        //     width: 63px;
        //     height: 52px;
        // }

        &__nav {
            display: block;
            padding: 0;
            margin: 0;
        }

        &__menu-items {
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }

        &__menu-item {
            list-style-type: none;
            margin-right: 30px;
            font-weight: 600;
            line-height: 19.2px;
            color: $base-fonts-color;
        }

        &__menu-item:last-child {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1366px) {
        .header {
            padding: 12px 98px;
        }
    }
}