.header {
    padding: 15px;

    &__logo-img {
        width: 46px;
        height: 38px;
    }

    &__link {
        color: $base-fonts-color;
        text-decoration: none;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__nav {
        display: none;
    }

    // &__logo-svg {
    //     width: 46px;
    //     height: 38px;
    // }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 12px 45px;

        &__logo-img {
            width: auto;
            height: auto;
        }

        &__wrapper {
            max-width: 1170px;
        }

        &__nav {
            display: block;
            padding: 0;
            margin: 0;
        }

        &__menu-items {
            display: flex;
            justify-content: center;
        }

        &__menu-item {
            list-style-type: none;
            margin-right: 30px;
            font-weight: 600;
            line-height: 19.2px;
            color: $base-fonts-color;
        }

        &__menu-item:last-child {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1366px) {
        .header {
            padding: 12px 98px;
        }
    }
}



// <ul class="header__menu-items">
// <li class="header__menu-item"><a class="header__link" href="#why-us?">Почему мы?</a></li>
// <li class="header__menu-item"><a class="header__link" href="#rooms">Номера</a></li>
// <li class="header__menu-item"><a class="header__link" href="#reviews">Отзывы</a></li>
// <li class="header__menu-item"><a class="header__link" href="#contacts">Как нас найти</a></li>
// </ul>

// <a class="contacts__link" name="contacts"></a>