.inpute-orange {
    position: relative;

    &__inner {
        width: 240px;
        height: 50px;
        background-color: #FF7236;
        border: #FF7236;
        border-radius: 25px;
        box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    &__svg {
        position: absolute;
        top: 7px;
        left: 197px;
    }
}
