.reviews {
    padding: 70px 15px 30px 15px;
    position: relative;

    &__title {
      font-family: $font-title;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 33px;
      text-align: center;
      margin-bottom: 40px;
    }

    &__paw-bottom {
        width: 112px;
        height: 95px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }

    &__paw-bottom_ipad {
        display: none;
    }

    &__item {
        padding: 20px;
        border-radius: 8px;
        z-index: 1;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 25px 0px rgba(208, 208, 208, 0.25);
    }

    &__paw-bottom_desktop {
        display: none;
    }

    &__item-inner {
        display: flex;
    }

    &__item-span{
        color: $second-font-color;
        font-size: 54px;
        font-style: normal;
        font-weight: 500;
        line-height: 65px;
        margin-right: 10px;
    }

    &__item-txt {
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        display: inline;
    }

    &__item-name {
        display: none;
    }

    &__item-date {
        display: none;
    }

    &__item_decktop {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .reviews {
        padding: 170px 45px;

        &__title {
            font-size: 36px;
            line-height: 42px;
        }

        &__paw-bottom {
            width: 227px;
            height: 194px;
            position: absolute;
            top: 100px;
            right: 0px;
            z-index: 0;
        }

        &__item {
            width: 440px;
            margin: 0 auto;
            z-index: 1;
        }

        &__item-txt {
            margin-bottom: 25px;
        }

        &__item-wrapper {
            padding-left: 30px;
            display: flex;
            justify-content: space-between;
        }

        &__item-name {
            display: block;
            font-style: $font-txt;
            font-size: 14px;
            line-height: 16px;
            color: #848484;
        }

        &__item-date {
            display: block;
            font-style: $font-txt;
            font-size: 14px;
            line-height: 16px;
            color: #848484;
        }
    }

}

@media screen and (min-width: 1366px) {
    .reviews {
        padding: 200px 100px;

        &__title {
            margin-bottom: 70px;
        }

        &__paw-bottom {
            width: 312px;
            height: 267px;
            position: absolute;
            top: 100px;
            right: 0px;
            z-index: 0;
        }

        &__items {
            display: flex;
            justify-content: center;
            margin: 0;
            z-index: 2;
        }

        &__item {
            width: 470px;
            margin: 0px 15px;
            border-radius: 8px;
            background-color: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
            position: relative;
        }

        &__item_decktop {
            display: block;
            padding: 20px;
            margin: 0px 15px;
            width: 470px;
            border-radius: 8px;
            background-color: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
            position: relative;
            z-index: 3;
            box-shadow: 0px 0px 25px 0px rgba(208, 208, 208, 0.25);
        }
    }
}