.rooms {
    padding: 60px 15px 40px 15px;

    &__title {
    font-family: $font-title;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 10px;
    }

    &__fish {
        float: left;
        z-index: 1;
        margin: 0px 0px 0px -15px;
    }

    &__img-phone {
        margin-top: -18px;
        position: relative;
        z-index: 2;
    }

    &__img-ipad {
        display: none;
    }

    &__img-desktop{
        display: none;
    }

    &__container {
        padding: 25px;
    }

    &__title-room {
        // font-family: ;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 25px;
    }

    &__items {
        text-decoration: none;
        margin-bottom: 25px;
    }

    &__item {
        margin-bottom: 17px;
        list-style-type: none;
    }

    &__item:last-child {
        margin-bottom: 0;
        
    }

    &__item::before {
        content: "";
        width: 11px; 
        height: 11px;
        background: #FAC663;
        border-radius: 50%;
    }
}