.service {
    padding: 70px 15px 10px 15px;
    position: relative;

    &__title {
    font-family: $font-title;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 40px; 
    text-align: center;
    }

    &__items {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    z-index: 2;
    }
        
    &__items:last-child {
      margin-bottom: 0;
    }
    
    &__item-svg {
      width: 60px;
      height: 60px;
      background-color: $second-background-color;
      margin-bottom: 30px;
      border-radius: 50%;
    }
    
    &__item-title {
      font-family: $font-title;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 20px;
    }
    
    &__item-text {
      font-size: 15px;
      font-style: normal;
      line-height: 21px;
    }

    &__paw-top_phone {
      float: right;
      margin: -85px -10px 0px 0px;
      z-index: 0;
    }

    &__paw-top_ipad {
      display: none;
    }

    &__paw-top_desktop {
      display: none;
    }
}

   @media screen and (min-width: 768px) {
     .service {
       padding: 100px 45px;
       margin: 10px 0px;

       &__title {
         font-size: 36px;
         line-height: 42.66px;
         margin-bottom: 60px;
       }

       &__wrapper {
        max-width: 678px;
        margin: 0 auto;
       }

       &__items-wrapper {
        display: grid;
        justify-items: center;
        align-items: center;
        // grid-template-columns: 324px 324px;
        // grid-template-columns: repeat(auto-fit, minmax(324px, 2fr));
        grid-template-columns: repeat(auto-fill, 324px);
        gap: 30px;
        place-items: center;
        position: relative;
        z-index: 4;
       }

       &__items {
        //  width: 324px;
        //  height: 285px;
        justify-self: stretch;
        align-self: stretch;
        margin: 0;
        position: relative;
        z-index: 2;
       }

       &__item-svg {
         width: 75px;
         height: 75px;
       }

       &__item-title {
         font-size: 28px;
         line-height: 28px;
       }

       &__paw-top_phone {
         display: none;
       }

       &__paw-top_ipad {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 0;
      }
  
        &__paw-top_desktop {
         display: none;
        }
     }
   }

    @media screen and (min-width: 1366px) {

      .service {
        padding: 130px 98px;
        margin-bottom: 10px;
        // position: relative;

        &__wrapper {
          max-width: 1170px;
        }

        &__items-wrapper {
          // grid-template-columns: 370px 370px 370px;
          grid-template-columns: repeat( auto-fit, 370px);
        }

        // &__items {
        //   width: 370px;
        //   height: 321px;
        // }

        &__item-title {
          font-size: 22px;
          line-height: 30.8px;
        }

        &__item-text {
          line-height: 22.4px;
        }

        &__paw-top_phone {
          display: none;
        }
 
        &__paw-top_ipad {
        display: none;
        }
   
         &__paw-top_desktop {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 0;
         }
      }
}