.service {
    padding: 70px 15px 10px 15px;
    position: relative;

    &__title {
      font-family: $font-title;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      margin-top: 0;
      margin-bottom: 40px; 
      text-align: center;
    }

    &__item {
      background-color: #FFFFFF;
      margin-bottom: 30px;
      box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
      border-radius: 8px;
      box-sizing: border-box;
      padding: 25px;
      position: relative;
      z-index: 2;

      &::before {
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $second-background-color;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
      }

      &_temp::before {
        background-image: url(../assets/svg/temp.svg);
        background-size: 20px 36px;
      }

      &_video::before {
        background-image: url(../assets/svg/video.svg);
        background-size: 31px 24px;
      }

      &_taxi::before {
        background-image: url(../assets/svg/taxi.svg);
        background-size: 34px 20px;
      }

      &_food::before {
        background-image: url(../assets/svg/food.svg);
        background-size: 35px 23px;
      }

      &_walk::before {
        background-image: url(../assets/svg/walk.svg);
        background-size: 31px 26px;
      }

      &_veterinar::before {
        background-image: url(../assets/svg/veterinar.svg);
        background-size: 27px 29px;
      }

      @media only screen and (min-width: 768px) {
        &::before {
          width: 75px;
          height: 75px;
        }

        &_temp::before {
          background-size: 26px 45px;
        }

        &_video::before {
          background-size: 39px 30px;
        }

        &_taxi::before {
          background-size: 42px 26px;
        }

        &_food::before {
          background-size: 44px 29px;
        }

        &_walk::before {
          background-size: 39px 32px;
        }

        &_veterinar::before {
          background-size: 34px 35px;
        }
      }

      @media only screen and (min-width: 1366px) {
        &::before {
          width: 91px;
          height: 91px;
        }

        &_temp::before {
          background-size: 31px 55px;
        }

        &_video::before {
          background-size: 47px 37px;
        }

        &_taxi::before {
          background-size: 51px 31px;
        }

        &_food::before {
          background-size: 53px 35px;
        }

        &_walk::before {
          background-size: 47px 39px;
        }

        &_veterinar::before {
          background-size: 41px 43px;
        }
      }
    }

        
    &__item:last-child {
      margin-bottom: 0;
    }
    
    &__item-title {
      font-family: $font-title;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 20px;
    }
    
    &__item-text {
      font-size: 15px;
      font-style: normal;
      line-height: 21px;
    }
    
    &__paw-top {
      width: 116px;
      height: 99px;
      position: absolute;
      transform: rotate(21deg);
      top: 60px;
      right: -25px;
      z-index: 0;
      overflow: hidden;
    }
}

   @media screen and (min-width: 768px) {
     .service {
       padding: 100px 45px;
       margin: 10px 0px;

       &__title {
         font-size: 36px;
         line-height: 42px;
         margin-bottom: 60px;
       }

       &__wrapper {
        max-width: 678px;
        margin: 0 auto;
       }

       &__items {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, 324px);
        gap: 30px;
        place-items: center;
        position: relative;
        z-index: 4;
       }

       &__item {
        justify-self: stretch;
        align-self: stretch;
        margin: 0;
        position: relative;
        z-index: 2;
       }

       &__item-title {
         font-size: 28px;
         line-height: 28px;
       }

       &__paw-top {
         width: 300px;
         height: 257px;
         top: 20px;
         right: 0;
      }
     }
   }

    @media screen and (min-width: 1366px) {

      .service {
        padding: 130px 98px;
        margin-bottom: 10px;

        &__wrapper {
          max-width: 1170px;
        }

        &__items {
          grid-template-columns: repeat( auto-fit, 370px);
        }

        &__item-title {
          font-size: 22px;
          line-height: 30px;
        }

        &__item-text {
          line-height: 22px;
        }

         &__paw-top {
          width: 367px;
          height: 314px;
          top: 10px;
          right: -25px;
         }
      }
}